<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddWorkerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddWorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWorkersServlet</servlet-name>
        <servlet-class>za.ac.tut.web.viewWorkersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddWorkerServlet</servlet-name>
        <url-pattern>/AddWorkerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWorkersServlet</servlet-name>
        <url-pattern>/viewWorkersServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
